:root {
  --color1: #fff;
  --color2: #3e3e3e;
  --color3: #3b3e45;
  --color4: #414246;
  --color5: #f2f2f2;
  --color6: #f07f7e;
  --color7: #868686;
  --color8: #ec4327;
  --color9: #f8f8f8;
  --color10: #515151;
  --color11: #595959;
  --color12: #282b32;
  --color13: #a04038;
  --color14: #383e35;
  --color15: #ff5438;
  --color16: #f78c89;
  --color17: #d9d9d9;
  --color18: #8f8f91;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: auto;
}

.socialnavbar {
  width: 100%;
  height: auto;
  padding: 0 10%;
  overflow: hidden;
  background-color: var(--color2);
}

.socialnavbar .socialnav {
  list-style-type: none;
  text-align: right;
}

.socialnavbar .socialnav li {
  display: inline-block;
  padding: 2px 4px;
}

.socialnavbar .socialnav li a {
  color: var(--color1);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0 4px;
  font-size: 0.7em;
  line-height: 10px;
}

.socialnavbar .socialnav li a i {
  font-weight: lighter;
  font-size: 1.4em;
}

.navbar {
  width: 100%;
  height: 70px;
  padding: 0 10%;
  display: flex;
  background-color: var(--color1);
}

.navbar .logo {
  width: 20%;
  padding: 5px 5px;
}

.navbar .nav {
  width: 80%;
  list-style-type: none;
  text-align: right;
}

.navbar .nav li {
  display: inline-block;
  padding: 25px 20px;
}

.navbar .nav li .active {
  color: var(--color6);
}

.navbar .nav li a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color7);
  font-weight: 600;
  font-size: 0.8em;
}

.navbar .nav li.cc a {
  border: 5px solid var(--color8);
  padding: 12px;
  color: var(--color8);
  font-weight: bolder;
}

/* hero section  */

.heroSection {
  width: 100%;
  height: 887px;
  background-color: red;
  background-image: url('../image/bg0.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSection .hero {
  display: flex;
  flex-direction: column;
  width: 793px;
  height: 650px;
  position: relative;
  top: 116px;
  left: 206px;
  gap: 63.73px;
  padding: 0 25px 0 25px;
  background-color: transparent;
}

.heroSection .hero .herobox1 {
  width: 100%;
  height: 242.16px;
  padding: 0 0 0 11px;
  gap: 21.24px;
}

footer .footer_content .credit span {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
}

footer .footer_content img {
  width: 250px;
  height: 42.2px;
}

.heroSection .hero .herobox1 img {
  width: 100%;
  height: 100%;
}

.heroSection .hero .herobox2 {
  width: 100%;
  height: 180.56px;
  background-color: var(--color9);
  border: 8px solid var(--color1);
}

footer .footer_content .credit p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: left;
}

.heroSection .hero .herobox2 p {
  font-weight: 400;
  font-size: 25.49px;
  line-height: 36px;
  letter-spacing: -1%;
  padding: 4%;
  color: var(--color10);
}

.heroSection .hero .herobox3 {
  width: 100%;
  height: 105px;
  background-color: transparent;
}

.heroSection .hero .herobox3 h1 {
  font-family: 'Gothic A1', sans-serif;
  font-weight: bolder;
  font-size: 42.48px;
  color: var(--color11);
}

.heroSection .hero .herobox3 p {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  font-size: 27.61px;
  color: var(--color7);
  letter-spacing: -2%;
}

/* program  */
.program {
  width: 100%;
  height: 587px;
  background-color: var(--color12);
  background-image: url('../image/bg2.png');
}

.program .program_content {
  display: flex;
  flex-direction: column;
  width: 1012px;
  height: 437px;
  position: relative;
  top: 75px;
  margin-left: auto;
  margin-right: auto;
  gap: 70px;
  text-align: center;
  color: var(--color1);
}

.program .program_content p.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
}

.program .program_content p.title span {
  display: block;
  width: 51px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid var(--color13);
}

.program .program_content .program_detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 231px;
  background-color: transparent;
}

.program .program_content .program_detail .program_card {
  width: 200px;
  height: 231px;
  padding: 6px 18px 22px 18px;
  background-color: rgba(59, 62, 69, 0.7);
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.program .program_content .program_detail .program_card img.program_card_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 58px;
}

.speaker_section .speaker_content p.title span {
  display: block;
  width: 51px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid var(--color13);
}

.partners .partners_content p.title span {
  display: block;
  width: 51px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid var(--color13);
  padding-top: 10px;
}

.program .program_content .program_detail .program_card span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color15);
  text-transform: capitalize;
}

.program .program_content .program_detail .program_card p {
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 6%;
  color: var(--color1);
}

.program .program_content .end_title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

/* speaker_section  */
.speaker_section {
  width: 100%;
  height: 850px;
  background-color: var(--color9);
}

.speaker_section .speaker_content {
  width: 1031px;
  height: 774px;
  margin: auto;
}

.speaker_section .speaker_content p.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-transform: capitalize;
  color: #000;
  text-align: center;
  padding-bottom: 45px;
}

.speaker_section .speaker_content .speakers {
  width: 100%;
  height: 677px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.speaker_section .speaker_content .speakers .speaker_grp1 {
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: space-between;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker {
  width: 49%;
  height: 178px;
  display: flex;
  justify-content: space-between;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker img {
  width: 178px;
  height: 177px;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker .speaker_intro {
  width: 305px;
  height: 178px;
  padding: 15px 0 0 0;
  gap: 18px;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker .speaker_intro .user_title {
  width: 300px;
  height: 89px;
  gap: 9px;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker .speaker_intro .user_title h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker .speaker_intro p {
  width: 305px;
  height: 56px;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker .speaker_intro .user_title p {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.09em;
  text-align: left;
  color: var(--color16);
  margin-bottom: -26px;
}

.speaker_section .speaker_content .speakers .speaker_grp1 .speaker .speaker_intro .user_title span {
  display: inline-block;
  width: 51px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid var(--color17);
}

/* partners */
.partners {
  width: 100%;
  height: 242px;
  background-color: var(--color4);
}

.partners .partners_content {
  width: 1200px;
  height: 172px;
  position: relative;
  top: 35px;
  left: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.partners .partners_content p.title {
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color18);
}

.partners .partners_content .partners_logo {
  width: 100%;
  height: 75px;
}

.partners .partners_content .partners_logo ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer  */
footer {
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color5);
}

footer .footer_content {
  width: 998px;
  height: 98px;
  display: flex;
  align-items: center;
  gap: 65px;
}

footer .footer_content .credit {
  width: 683px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
